@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div>
<h1>Hello</h1>
    

    <img src="../Pages/picture.jpg" alt="Jerry DeMas">    
    <br>


    I am Jerry DeMas.<br>
    LinkedIn:  <a href="https://www.linkedin.com/in/jerry-demas-3355659b"> https://www.linkedin.com/in/jerry-demas-3355659b </a> <br>
    What I did:
    <ul>
        <li>Updated EmployeeService/EmployeeRepository by adding GetAll functionality</li>
        <li>Added GetEmployees to the EmployeeController </li>
        <li>Added this asp.net Web app to view the results</li>
    </ul>

    <p>Task 1: Results are viewed in Task1 link</p>
    <ul>
        <li>Added new api endpoint in the employee contoller: GetReportById</li>
        <li>Added form on Task1 page to allow user enter an employee id to retrieve results</li>
    </ul>
    <p>Task 2: Results are viewed in Task2 link</p>
    <ul>
        <li>Added controller api end points for compensation</li>
        <li>Added Compensation Model</li>
        <li>Added Database context / seeder / repository / service for Compensation</li>

        <li>Added forms to view / add compensation to an employee</li>
    </ul>
</div>


<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
